<% if current_user.likes_movie?(movie) %>
  <div class="col">
    You like this movie
    |
    <%= link_to 'Unlike', votes_path( vote: { movie_id: movie, like: false }), method: 'post' %>
  </div>
<% elsif current_user.hates_movie?(movie) %>
  <div class="col">
    You hate this movie
    |
    <%= link_to 'Unhate', votes_path( vote: { movie_id: movie, hate: false }), method: 'post' %>
  </div>
<% end %>
