<% if user_signed_in? && movie.user != current_user %>
  <% if movie.has_votes? %>
    <div class="col">
      <% if current_user.likes_movie?(movie) %>
        <%= t('likes', count: movie.votes_count("likes")) %>
      <% else %>
        <%= link_to "#{t('likes', count: movie.votes_count("likes"))}", votes_path( vote: { movie_id: movie, like: true }), method: 'post' %>
      <% end %>
      |
      <% if current_user.hates_movie?(movie) %>
        <%= t('hates', count: movie.votes_count("hates")) %>
      <% else %>
        <%= link_to "#{t('hates', count: movie.votes_count("hates"))}", votes_path( vote: { movie_id: movie, hate: true }), method: 'post' %>
      <% end %>
    </div>
  <% else %>
    <div>
      <span>Be the first to vote for this movie: <%= link_to 'Like', votes_path( vote: { movie_id: movie, like: true }), method: 'post'%></span>
      |
      <span><%=link_to 'Hate', votes_path( vote: { movie_id: movie, hate: true }), method: 'post'%></span>
    </div>
  <% end %>
<% else %>
  <%= t('likes', count: movie.votes_count("likes")) %> | <%= t('hates', count: movie.votes_count("hates")) %>
<% end %>