<p id="notice"><%= notice %></p>

<div class="toolbox">
Sort by:
<%= link_to 'Likes', movies_path(sort: 'likes') %>
|
<%= link_to 'Hates', movies_path(sort: 'hates') %>
|
<%= link_to 'Date', movies_path(sort: 'date') %>
</div>

<div class="main ilb">
  <% @movies.each do |movie| %>
    <div class="movie">
      <h2><%= movie.title%></h2>
      <p> Posted by <%= link_to get_user_nickname(movie), user_movies_path(movie.user) %> <%= time_ago_in_words(movie.published_at) %></p>
      <p><%= movie.description %></p>
      <%= render partial: "votes", locals: { movie: movie } %>
      <%= render partial: "unvotes", locals: { movie: movie } if user_signed_in? %>
    </div>
  <% end %>
</div>

<div class="aside ilb">
  <%= button_to 'New Movie', new_movie_path, method: "get", class: "button green" if user_signed_in? %>
</div>
