<div class="header">
  <div class="col">
    <h1 class="logo"><%= link_to "MovieRama", root_path %></h1>
  </div>
  <div class="col">
    <% if user_signed_in?%>
      Welcome back <%= link_to current_user.nickname, destroy_user_session_path, method: :delete %>
    <% else %>
      <span><%= link_to "Log_in", new_user_session_path %></span> or <span class="signup"><%= button_to "Sign up", new_user_registration_path, method: "get" %></span>
    <% end %>
</div>