<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @vote.type %>
</p>

<p>
  <strong>Like:</strong>
  <%= @vote.like %>
</p>

<p>
  <strong>Hate:</strong>
  <%= @vote.hate %>
</p>

<%= link_to 'Edit', edit_vote_path(@vote) %> |
<%= link_to 'Back', votes_path %>
